.container {
    padding-bottom: 120px;
}

.form form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container h1 {
    margin: 15px 0 35px 10px;
    font-size: 1.5rem;
}

.form {
    width: 100%;
    height: auto;
}

.form h1 {
    font-size: 1.2rem;
    margin: 0;
}

.form h2 {
    font-size: .9rem;
    margin-bottom: 25px;
}


.productRegister {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 auto;
}

.productRegister div:nth-child(n+1) {
    width: 100%;
}

.row {
    display: flex;
}

.productRegister input,
select {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #9c9c9c;
    padding: 5px;
    font-size: 1rem;
}

.productRegister textarea {
    width: 100%;
    border: 1px solid #9c9c9c;
    padding: 5px;
    font-size: 1rem;
}

.buttonCriar {
    width: 90%;
    height: 45px;
    margin: 0 auto;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.buttonCriar:hover {
    background-color: white;
    color: var(--primary);
    border: 1px solid var(--primary);
}

.buttonAdd {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    background-color: var(--primary);
    color: white;
    font-weight: 400;
    font-size: 1.7rem;
    border: none;
    margin: 0 5px;
}

@media (min-width: 800px) {
    /* .productRegister {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        'c1 c2'
        'c3 c4'
        'c5 c5'
        'c6 c7';
    }

    #c1{
        grid-area: c1;
    }

    #c2{
        grid-area: c2;
    }

    #c3{
        grid-area: c3;
    }

    #c4{
        grid-area: c4;
    }

    #c5{
        grid-area: c5;
    }

    #c6{
        grid-area: c6;
    }

    #c7{
        grid-area: c7;
    }

    #c8{
        grid-area: c8;
    }

    #c9{
        grid-area: c9;
    } */

}