.container {
    width: 100%;
    padding-bottom: 120px;
}

.form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container h1 {
    margin: 15px 0 35px 10px;
    font-size: 1.5rem;
}

.form {
    width: 100%;
    height: auto;
}

.form h1 {
    font-size: 1.2rem;
    margin: 0;
}

.form h2 {
    font-size: .9rem;
    margin-bottom: 25px;
}


.productRegister {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 auto;
    background-color: #fcfcfc;
    border: 1px solid #ebebeb;
    padding: 30px 10px;
}

.productRegister div:nth-child(n+1) {
    width: 100%;
}

.row {
    display: flex;
}

.productRegister input,
select {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #9c9c9c;
    padding: 5px;
    font-size: 1rem;
}

.productRegister textarea {
    width: 100%;
    border: 1px solid #9c9c9c;
    padding: 5px;
    font-size: 1rem;
}

.buttonCriar {
    width: 90%;
    height: 45px;
    margin: 0 auto;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.buttonCriar:hover {
    background-color: white;
    color: var(--primary);
    border: 1px solid var(--primary);
}

.buttonAdd {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    background-color: var(--primary);
    color: white;
    font-weight: 400;
    font-size: 1.7rem;
    border: none;
    margin: 0 5px;
}

@media (min-width: 700px) {
    .productRegister {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        margin: 0 auto;
        justify-content: space-between;
    }

    .productRegister div:nth-child(-n+4) {
        width: 47%;
    }

    #atributos, #imagens
    {
        display: flex;
        flex-direction: column;
        width: 47%;
        height: 100px;
    }

    #atributos input
    {
        width: 100%;
        margin-top: 10px;
    }

    #imagens div:nth-child(2)
    {
        width: 100%;
        margin-top: 10px;
    }

    #politicas
    {
        display: flex;
        flex-direction: column;
    }

    #politicas div
    {
        width: 100%;
    }

    @media (min-width: 1000px) {
        .container {
            width: 990px;
            margin: 0 auto;
        }
    
    }
}