/*Style Politicas*/

.policy {
  width: 100%;
  margin-bottom: 50px;  
}

.policy .separator {
  border-top: 2px solid #333;
  border-color: var(--light);
  margin-top: 0.875rem;
}


.policy .politicas {
  padding: 1.56rem 0;  
  display: grid;
  gap: 2rem;
  grid-template-columns: 25% 37.5% 37.5% ; 
  grid-template-rows: 5rem 5rem;
}

.policy .politicas div { 
  text-align: start;
}

.policy .politicas h3 {
  color: #333;
  margin-bottom: 1.5rem;  
}

.policy .politicas ul {
  margin-top: 1.5rem;
  font-size: 1rem;
  list-style: none;
}

.policy .politicas ul li {
  margin-bottom: 1rem;
}

/*Mobile*/
@media screen and (max-width: 450px) {
  .policy .politicas 
  {
  margin: 10px;  
  display: grid;
  grid-template-columns: 100%; 
  grid-template-rows: 33%;
  }

  .policy .politicas ul
  {
  margin-top: 1.8rem;
  font-size: 1.8rem;
  
  }

  .policy .politicas h3
{
  color: #333;
  font-size: 2.1rem;
}

}