/* @import '../../../node_modules/react-datepicker/dist/react-datepicker.css'; */

.headerdetails
{
    width: 100%;
    min-height: 80px;
    padding: 5px 25px;
    background-color: var(--title);
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title span
{
    color: white;
    font-size: 1rem;
}

.title h1
{
    font-size: 2rem;
}

.backpage section
{
    cursor: pointer;
    color: var(--primary);
    margin-left: 90px;
}

.locationdetails
{
    width: 100%;
    min-height: 60px;
    background-color: #f2f2f2;

    display: flex;
    align-items: center;
    padding: 0 25px;
}


/* ====RESERVATION ===== */
.containerReservation {
  background-color: #f2f2f2;
}

.contentReservation {
  padding: 2rem 2rem 4rem;
}

.contentReservation h2 {
  margin-bottom: 1.5rem;
}


.contentCalender {
  display: flex;
  gap: 4rem;
  align-items: center;  
}


/* Calender Text */
.calenderText {
  background: var(--white);
  height: 180px;
  width: 25%;
  padding: 2rem 1rem 1rem;
  border-radius: 6px;
  box-shadow: 5px 10px 5px #50505034;
}

.calenderText p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.calenderText button {
  width: 100%;
  border: none;
  padding: 1rem;
  border-radius: 6px;
  color: var(--white);
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid transparent;
  background: var(--primary);
  transition: 0.2s;
}

.calenderText button:hover {
  color: var(--primary);
  border: 1px solid var(--primary);
  background-color: var(--white);
}