.headerdetails
{
    width: 100%;
    min-height: 80px;
    padding: 5px 25px;
    background-color: var(--title);
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title span
{
    color: white;
    font-size: 1rem;
}

.title h1
{
    font-size: 2rem;
}

.backpage section
{
    cursor: pointer;
    color: var(--primary);
    margin-left: 90px;
}

.locationdetails
{
    width: 100%;
    min-height: 60px;
    background-color: #f2f2f2;

    display: flex;
    align-items: center;
    padding: 0 25px;
}

.containerSlide
{
    width: 100%;
    height: 300px;
    border: 1px solid red;
    display: grid;
}

.containerSlide div
{
    background-color: #333;
    border: 1px solid yellow;
}


/* Sytle Features/Caracteristicas */

.features
{
    width: 100%;
    min-height: 60px;
    background-color: white;
    display: block;
    
    padding: 0 25px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.featuresIcons 
{
  margin: 50px;  
  font-size: 1.5rem; 
  display: grid;
  grid-template-columns: 25% 25% 25% 25% ; 
  grid-template-rows: 5rem 5rem;
    
}

.featuresIcons p
{
  padding: 20px;
  
}
#first
{
    grid-area: first;
}
#second
{
    grid-area: second;
}
#third
{
    grid-area: third;
}
#fourth
{
    grid-area: fourth;
}
#fifth
{
    grid-area: fifth;
}

/* ====RESERVATION ===== */
.containerReservation {
  background-color: #f2f2f2;
}

.contentReservation {
  padding: 2rem 2rem 4rem;
}

.contentReservation h2 {
  margin-bottom: 1.5rem;
}

.contentCalender {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

/* Calender Text */
.calenderText {
  background: var(--white);
  height: 180px;
  width: 80%;
  padding: 2rem 1rem 1rem;
  border-radius: 6px;
  box-shadow: 5px 10px 5px #50505034;
}

.calenderText p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.calenderText button {
  width: 100%;
  border: none;
  padding: 1rem;
  border-radius: 6px;
  color: var(--white);
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid transparent;
  background: var(--primary);
  transition: 0.2s;
}

.calenderText button:hover {
  color: var(--primary);
  border: 1px solid var(--primary);
  background-color: var(--white);
}

/* Responsividade Calendario Desktop*/
@media screen and (max-width:1206px) {
  .contentCalender {
    grid-template-columns: 2fr;
    justify-content: center;
  }

  .calenderText {
    width: 100%;
    padding: 4rem;
    margin-top: 2rem;
  }
}

/* Responsividade Calendario Tablet */


/*Tablet*/
@media screen and (max-width: 900px) {
  .features {
    width: 100%;
    background-color: white;
    display: block;
            
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .featuresIcons {
    font-size: 1.5rem; 
    display: grid;
    grid-template-columns: 50% 50%; 
    grid-template-rows: 30%;
      
  }
}

.featuresIcons p {
  padding: 1.1rem;
  align-items: baseline;
}

/*Mobile*/
@media screen and (max-width: 400px) {
.featuresIcons {
  width: 100%;  
  font-size: 1rem; 
  display: grid;
  grid-template-columns: 100%; 
  grid-template-rows: 15%;
  }
}
