/*Estilização do container desktop*/
.containerSlide
{
    max-width: 80vw;
    max-height: 420px;
    margin: 20px auto;
    display: grid;
    grid-template-areas: 
        "first first second third"
        "first first fourth fifth";
    grid-template-rows: 200px 200px;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 5px;
    position: relative;
}

/*Estilização das imagens do container desktop*/
.containerSlide img
{
    width: 100%;
    min-height: 200px;
    border-radius: 10px;
}

/*Estilização das divs do container desktop*/
.containerSlide div{
    background-color: #333;
    color: white;
    border-radius: 10px;
    overflow: hidden;
}

/*Estilização do botão que amplia o slide*/
.buttonSlideOpen{
    position: absolute;
    color: white;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    background-color: orange;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    font-size: 1rem;
}

/*Estilização do botão que fecha o slide ampliado*/
.buttonSlideClose
{
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
    color: white;
}


#first
{
    grid-area: first;
    max-width: 100%;
    min-height: 200px;

}

#first img
{
    min-height: 420px;
}

#second
{
    grid-area: second;
}

#third
{
    grid-area: third;
}

#fourth
{
    grid-area: fourth;
}

#fifth
{
    grid-area: fifth;
}

/*Estilização do container do slide ampliado desktop*/
.containerSlideOpen
{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.938);
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Configuração de tamanho da div de imagens do slide ampliado*/
.sizeSlide
{
    max-width: 70vw;
    max-height: 80vh;
    position: relative;
    display: flex;
    align-items: center;
}

.sizeSlide img
{
    width: 100%;
}

/*Estilização do botao prev e next do slide*/
.sizeSlide button
{
    width: 5rem;
    height: 5rem;
    position: absolute;
    cursor: pointer;
    margin: 10px;
    border: none;
    color: white;
    background-color: transparent;
    transition-duration: .3s;
    text-shadow: 1px 1px 5px black
    
}

/*Estilização hover do botao prev e next*/
.sizeSlide button:hover
{
    color: orange;
}

/*Estilização do botao prev do slide*/
#prev
{
    left: 0;
}

/*Estilização do botao next do slide*/
#next
{
    right: 0;
}